* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#canvas {
  border: 1px solid black;
}

/* BattleView */
#battleBackground {
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -10;
  opacity: 0.7;
}
#battleScene {
  border: 1px solid black;
  display: none;
  width: 960px;
  height: 640px;
  position: absolute;
  top: 0;
  pointer-events: none;
}
#battleView {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

#opponent,
#ally {
  display: flex;

  width: 100%;
  height: 50%;
}
/* oppnent */
.status {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.image {
  width: 40%;
  height: 100%;
}
.name {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}
.hp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 40px solid black;
  border-right: 10px solid black;
  border-bottom: 3px solid black;
  border-top: none;
  width: 100%;
  height: 10%;
  min-height: 20px;
  margin-top: 2%;
}
.hp::before {
  position: absolute;
  transform: translateX(-35px);
  color: white;
  content: "HP :";
}
.hp .hpBar {
  width: 100%;
  height: 50%;
  background-color: green;
}
.exp {
  width: 100%;
  height: 10%;
  min-height: 20px;
  display: flex;
  justify-content: right;
}
.hpContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-left: 10px solid black;
  border-bottom: 3px solid black;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#opponent .image {
  /* content: url(./Assets/Images/Metamong/metamong-front.png); */
}
#opponent .exp::after {
  content: "";
  transform: translate(40%, 100%);
  width: 0px;
  height: 0px;
  border-bottom: 10px solid black;
  border-left: 0px solid transparent;
  border-right: 24px solid transparent;
}

.statusContainer {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  padding-left: 15px;
  text-align: center;
  height: 100%;
}

/* ally */
#ally .hpContainer {
  align-items: flex-end;
  padding-left: 0px;
  padding-right: 0px;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 0px;
  border-left: none;
  border-right: 10px solid black;
}
#ally .hp {
  width: 90%;
  margin-top: 0%;
}
#ally .exp {
  justify-content: left;
  align-items: center;
}
#ally .exp::before {
  content: "";
  transform: translate(0%, 50%);
  width: 0px;
  height: 0px;
  border-bottom: 10px solid black;
  border-left: 24px solid transparent;
  border-right: 0px solid transparent;
}
#ally .hpText {
  text-align: right;
  font-size: 2rem;
  letter-spacing: 0.8rem;
}
#ally .expBar {
  transform: translateY(50%);
  background-color: lightskyblue;
  width: 100%;
  height: 30%;
}
#ally .image {
  /* content: url(./Assets/Images/Metamong/metamong-back.png); */
  transform: translate(100px, -20px);
}

#opponentCanvas,
#allyCanvas {
  width: 100%;
  height: 100%;
  content: "";
}
/* Select */
#select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
  border-radius: 10px;
}
#select #talk {
  width: 100%;
  height: 100%;
  border-style: double;
  border-width: 10px;
  border-right: none;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#select #battleSelect {
  padding: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: 100%;
  border-style: double;
  border-width: 10px;
  border-top-left-radius: 3%;
  border-bottom-left-radius: 3%;
}
#select #battleSelect button {
  padding-left: 20%;
  font-size: 2rem;
  text-align: left;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
#select #battleSelect button:focus {
  background-color: rgba(211, 211, 211, 0.322);
}
#select #battleSelect button:focus span {
  animation-name: arrowAnim;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}

#select #battleSelect button span {
  position: absolute;
  transform: translate(-20px, 15px);
  content: "";
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

#attackList {
  width: 400px;
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  position: absolute;
  left: 50px;
  bottom: 50px;
  list-style: none;
}
#attackList > li {
  display: flex;
  text-align: left;
  justify-content: start;
  align-items: center;
  padding-left: 50px;
  border-radius: 10px;
  width: 100%;
  height: 100px;
  border: 1px double black;
  border-width: 5px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.595);
}
#attackList > li > span {
  position: absolute;
  transform: translate(-20px, 0px);
  content: "";
  width: 0px;
  height: 0px;
  border-left: 12px solid black;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}
#attackList > li:focus {
  background-color: rgba(119, 136, 153, 0.308);
}
#attackList > li:focus span {
  animation-name: arrowAnim2;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-duration: 0.3s;
}
@keyframes arrowAnim {
  from {
    transform: translate(-20px, 15px);
  }
  to {
    transform: translate(-25px, 15px);
  }
}
@keyframes arrowAnim2 {
  from {
    transform: translate(-20px, 0px);
  }
  to {
    transform: translate(-25px, 0px);
  }
}
